.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
  }
  
  .list-group-item:hover {
    background-color: #e2e5e5;
    border-width: 3px;
  }
  
  .data-forecast-ingredient {
    margin: 10px 0px;
  }