#home-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
  /* justify-content: center; */
  align-items: center;
  
  color: #000000;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 48px;
  font-weight: 500;
}

.home-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-header a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content p {
  padding-bottom: 30px;
}

.home-header button {
  border-radius: 35px;
  border: 0px;
  width: 128px;
  height: 128px;
  background-color: #D9D9D9;
  margin: 30px;
}

.home-header button:hover {
  background-color: #a5a4a4;
  transition: 0.3s ease-in-out;
}

.home-content-top, .home-content-middle, .home-content-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-button, 
.order-button, 
.ingredients-button, 
.portion-button, 
.colect-data-button, 
.data-gathering-button {
  background-color: #D9D9D9;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;
  font-size: 48px;
  text-align: center;
  text-decoration: none;

  width: 600px;
  height: 270px;

  margin: 25px;
}

.menu-button:hover,
.order-button:hover,
.ingredients-button:hover,
.portion-button:hover,
.colect-data-button:hover,
.data-gathering-button:hover {
  background-color: #a5a4a4;
  transition: 0.3s ease-in-out;
}

