#page-signup {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  color: #000000;
  background-color: #F5F5F5;
}

.container img {
  width: 35%;
  padding-bottom: 50px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form input {
  font-size: 32px;
  font-weight: 300;
  color: #000000; 
  background-color: #DCDCDC;

  border-radius: 15px;
  border: 0px solid;
  outline: none;

  padding: 1rem;
  padding-left: 25px;
  margin-bottom: 20px;
  width: 100%;
}

.container .select-city {
  font-size: 32px;
  font-weight: 300;
  color: #000000; 
  background-color: #DCDCDC;

  border-radius: 15px;
  border: 0px solid;
  outline: none;

  padding: 1rem;
  margin-bottom: 30px;
  width: 100%;
}

.container .cancel-button {
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: #FFFFFF;

  background-color: #E33838;
  border-radius: 15px;

  padding: 20px 80px 20px 80px;
}

.container .create-account-button {
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: #000000;

  background-color: #63B90E;
  border-radius: 15px;

  padding: 20px 80px 20px 80px;

  margin-left: 20px;
}

.container .buttons {
  margin-top: 25px;
}

.container .forget-password {
  font-size: 20px;
  font-weight: 300;
  color: #525252;
  text-decoration: none;
  padding-top: 45px;
}