#page-signin {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  color: #000000;
  background-color: #F5F5F5;
}

.signin-container img {
  width: 40%;
  padding-bottom: 50px;
}

.signin-container form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.signin-container form input {
  font-size: 32px;
  font-weight: 300;
  color: #000000; 
  background-color: #DCDCDC;

  border-radius: 15px;
  border: 0px solid;
  outline: none;

  padding: 1rem;
  margin-bottom: 30px;
  width: 100%;
}

.signin-container .login-button {
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: #000000;

  border: 0px;

  background-color: #B2C900;
  border-radius: 15px;

  padding: 20px 80px 20px 80px;
}

.signin-container .signup-button {
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: #000000;

  background-color: #63B90E;
  border-radius: 15px;

  padding: 20px 80px 20px 80px;

  margin-left: 20px;
}

.signin-container .buttons {
  margin-top: 25px;
}

.signin-container .forget-password {
  font-size: 20px;
  font-weight: 300;
  color: #525252;
  text-decoration: none;
  padding-top: 45px;
}