#page-signin {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  color: #000000;
  background-color: #F5F5F5;
}

.container { 
  width: 100%;
  height: 100%;

  padding-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form {
  align-items: stretch;
}

.container form label {
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 24px;
}


.container .select-city {
  font-size: 32px;
  font-weight: 300;
  color: #000000; 
  background-color: #DCDCDC;

  border-radius: 15px;
  border: 0px solid;
  outline: none;

  padding: 1rem;
  margin-bottom: 30px;
  width: 100%;
}

.container .confirm-button {
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: #000000;

  background-color: #63B90E;
  border-radius: 15px;

  padding: 20px 80px 20px 80px;

  margin-left: 20px;
}
